body {
    font-family: Helvetica;
    font-weight:bolder;
    margin-left: 1.5em;
    margin-right: 1.5em;
    background-image: url('images/1721298066783.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;


}

.cart {
    background-color: #fdfcdc;
    text-align: center;
    border: 3px solid #fdfcdc;
    border-radius: 1em;
    padding: 1em;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.cartTable{
    background-color: #fdfcdc;
    margin: auto;
    width: 60%;
    border-collapse: collapse;
}
  

.cartTable th{
    border: solid 1px black;
    background-color: #fdfcdc;
     padding: 10px;
  text-align: left;
}

.cartTable tr{
    border: solid 1px black;
    background-color: #fdfcdc;
     padding: 10px;
  text-align: left;
  border-collapse: collapse;
}

.cartTable td{
    border: solid 1px black;
    background-color: #fdfcdc;
     padding: 10px;
  text-align: left;
    
}

.menu{
    background-color: #fdfcdc;
    border: #fdfcdc;
    border-radius: 1em;
    text-align: center;
}

.pizza {
    border: 3px solid #fdfcdc;
    padding: 1em;
    margin: 1em;
    margin-bottom: 3em;
    margin-left: 0;
    border-radius: 1em;
    width: 80%;
    text-align: center;

}

.heading {
    text-align: center;
    border: 1px solid #fdfcdc;
    border-radius: 0.3em;
    background-color: #fdfcdc;

}



.details {
    background-color: #fdfcdc;
    padding: 1em;
    margin: 1em;
    margin-bottom: 3em;
    margin-left: 0;
    border: 3px solid #fdfcdc;
    border-radius: 1em;

    align-content: space-evenly;
    }





 

.meaty{
    background-color: #d62828;
    border-radius: 1em;
    border: 1px solid #d62828;
    margin-bottom: 5px ;
    padding-top: 2px;
    display: flex;
    align-items: stretch;
}

.meatyTable{
    border: solid 1px #d62828;
    background-color: #d62828;
    border-radius: 1em;
}

.chicken{
    background-color:   #fee440;
    border: 2px solid #fee440;
    border-radius: 1em;
    margin-bottom: 5px ;
    padding-top: 2px;
    display: flex;
    align-items: stretch;
}

.chickenTable{
    background-color:   #fee440;
    border: 1px solid #fee440;
    border-radius : 1em;
}


.veggie{
    background-color:   #99d98c;
    border: 2px solid #99d98c;
    border-radius: 1em;
    margin-bottom: 5px ;
    padding-top: 2px;
    display: flex;
    align-items: stretch;
}

.veggieTable{
    background-color:   #99d98c;
    border: 1px solid #99d98c;
    border-radius: 1em;
}


.tMeaty{
    background-color: #d62828;
    border-radius: 1em;

    text-align: center;
}

.tChick{
    background-color: #fee440;
    border-radius: 1em;

    text-align: center;
}

.tVeggie{
    background-color: #99d98c;
    border-radius: 1em;

    text-align: center;
}



.largeMeaty{
    display: flex;
    flex-direction: column;
    
}

.largeChicken{
    display: flex;
    flex-direction: column;
    
}

.largeVeggie{
    display: flex;
    flex-direction: column;
}




.buyButton{
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    margin-right: 1px;
    border-radius: 1em;
    font-weight: bolder;
    border: 1px solid #a8dadc;
    background-color: #a8dadc;
}

.selection{
    flex-grow: 1;
}


@media (min-width: 871px){
    .pizzas {
        display: flex;
        gap: 10px; 
        justify-content: space-evenly;
        width: 100%;
        flex: 1;
    }

    .space{
        width: 33%;
    }

    .details{
        display: flex;
        flex: 1;
    }

    .left{
        width: 85% ;
    }
    
        .right{
     width:15%;
     justify-content: flex-end;
            
        }


    }

    .showPopUp{
        background-color: #fdfcdc;
        border: solid #fdfcdc 1px ;
        border-radius: 1em;
        text-align: center;
        margin-bottom: 1em;
        align-items: center;
        justify-content: center;
        margin-left: 25%;
        margin-right: 25%;
    }

    .popUpInput{
        margin-bottom: 1em;
        width: 90%;
    }

    .greet{
        font-weight: bolder; 
        background-color: #fdfcdc; 
        border-radius: 0.5em;
    }

    .top{
        margin-bottom: 5px ;
        display: flex;
        align-items: stretch;
    }

    .payButton{
        border: 1px solid #a8dadc;
        border-radius: 0.5em;
        background-color: #a8dadc;
        font-weight: bolder;
    }
    






.login{
    justify-self: flex-end;
}

[x-cloak] {display: none !important;}


.toggle-container {
    align-items: right;
    justify-content: right;
    margin-right: 1px;
    border-radius: 1em;
    font-weight: bolder;
    width: 20px;
}

.toggle-button {
    width: 50px;
    height: 30px;
    border: none;
    position: relative;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
    background-color: #003049;
    color: #fdfcdc; 
    font-weight: bolder;
}

.toggle-button:focus {
    outline: none;
    font-weight: bolder;
}

.icon {
    left: 5px;
    transform: translateY(-50%);
    transition: left 0.3s;
    font-weight: bolder;
}

.icon-toggled {
    left: 25px;
}

@media (max-width: 540px){
    .cartTable{
    width: 50%;
    }
}


/* DARKMODE
--------------------------------------------------------------------------------------------------------------------*/

body.darkmode {
    background-color: #003049;
    background-image: none;
}

body.darkmode .toggle-button {
    background-color: #fdfcdc;
    color: black; 
    font-weight: bolder;
}

body.darkmode .toggle-button .icon {
    color: black ;
    font-weight: bolder;
}

body.darkmode .cart {
    background-color: #669bbc;
    text-align: center;
    border: 3px solid #669bbc;
    border-radius: 1em;
    padding: 1em;
    justify-content: center;
    align-items: center;
    margin: auto;
}

body.darkmode .greet{
    background-color: #669bbc;
}

body.darkmode .showPopUp{
    background-color: #669bbc;
}

body.darkmode .cartTable {
    background-color: #669bbc;
    margin: auto;
    width: 100%;
    border-collapse: collapse;
}

body.darkmode .cartTable th {
    border: solid 1px black;
    background-color: #669bbc;
    padding: 10px;
    text-align: left;
}

body.darkmode .cartTable tr {
    border: solid 1px black;
    background-color: #669bbc;
    padding: 10px;
    text-align: left;
}

body.darkmode .cartTable td {
    border: solid 1px black;
    background-color: #669bbc;
    padding: 10px;
    text-align: left;
}

body.darkmode .menu {
    background-color: #669bbc;
    border: 1px solid #669bbc;
    border-radius: 1em;
    text-align: center;
}

body.darkmode .pizza {
    border: 3px solid #669bbc;
    padding: 1em;
    margin: 1em;
    margin-bottom: 3em;
    margin-left: 0;
    border-radius: 1em;
    width: 80%;
    text-align: center;
}

body.darkmode .heading {
    text-align: center;
    border: 1px solid #669bbc;
    border-radius: 0.3em;
    background-color: #669bbc;
}

body.darkmode .details {
    background-color: #669bbc;
    padding: 1em;
    margin: 1em;
    margin-bottom: 3em;
    margin-left: 0;
    border: 3px solid #669bbc;
    border-radius: 1em;
    align-content: space-evenly;
}
